In [1]:
from elasticsearch import Elasticsearch
import pandas as pd
import numpy as np

In [2]:
es = Elasticsearch([
    "c18node2.acis.ufl.edu",
    "c18node6.acis.ufl.edu",
    "c18node10.acis.ufl.edu",
    "c18node12.acis.ufl.edu",
    "c18node14.acis.ufl.edu"
], sniff_on_start=False, sniff_on_connection_fail=False, retry_on_timeout=True, max_retries=10, timeout=10)

In [3]:
higher_taxon_ranks = ["dwc:kingdom","dwc:phylum","dwc:class","dwc:order","dwc:family"]

In [4]:
def rank_and_index(t):
    idx = t.Index
    if not isinstance(idx,tuple):
        idx=(idx,)
               
    rank = higher_taxon_ranks[len(idx) - 1]
    return (rank, idx)

In [5]:
def es_lookup(rank, idx):
    if idx[-1] == "":
        return ("", np.nan)    
    must = [
        {
            "match": {
                rank: {
                    "query": idx[-1],
                    "fuzziness": "AUTO"
                }
            }
        },
        {
            "term": {
                "dwc:taxonRank": rank.split(":")[-1]
            }
        }
    ]
    for i, r in enumerate(idx[:-1]):
        if r != "":
            must.append({
                "term": {
                    higher_taxon_ranks[i]: r
                }
            })
    hits = es.search(index="taxonnames",doc_type="taxonnames",body={
        "query": {
            "bool": {
                "must": must
            }
        }
    })["hits"]["hits"]  
    if len(hits) > 0:
        if "dwc:acceptedNameUsageID" in hits[0]["_source"]:
            hits = es.search(index="taxonnames",doc_type="taxonnames",body={
                "query": {
                    "bool": {
                        "must": {
                            "term": {
                                "dwc:taxonID": hits[0]["_source"]["dwc:acceptedNameUsageID"]
                            }
                        }
                    }
                }
            })["hits"]["hits"]
        if "gbif:canonicalName" in hits[0]["_source"]:
            name = hits[0]["_source"]["gbif:canonicalName"].lower()
        else:
            name = hits[0]["_source"]["dwc:scientificName"].lower()            
            
        return (name, hits[0]["_source"]["dwc:taxonID"])
    else:
        return ("", np.nan)

In [6]:
def higher_ranks(txid):
    hits = es.search(index="taxonnames",doc_type="taxonnames",body={
                "query": {
                    "bool": {
                        "must": {
                            "term": {
                                "dwc:taxonID": txid
                            }
                        }
                    }
                }
    })["hits"]["hits"]
    if len(hits) > 0:
        rank = "dwc:" + hits[0]["_source"]["dwc:taxonRank"]
        if "gbif:canonicalName" in hits[0]["_source"]:
            name = hits[0]["_source"]["gbif:canonicalName"].lower()
        else:
            name = hits[0]["_source"]["dwc:scientificName"].lower()
        
        if "dwc:parentNameUsageID" in hits[0]["_source"]:
            rv = higher_ranks(hits[0]["_source"]["dwc:parentNameUsageID"])
            if name != "":
                rv.update({rank: name, rank+"_id": hits[0]["_source"]["dwc:taxonID"]})
            return rv
        else:
            if name != "":
                return {rank: name, rank+"_id": hits[0]["_source"]["dwc:taxonID"]}
            else:
                return {}
    else:
        return {}

In [7]:
def correct_tree_frame(tree_frame):
    corrected_tree_frame = tree_frame.copy(deep=True)
    for cc in range(0, len(higher_taxon_ranks)):
        fields = list(higher_taxon_ranks[0:cc+1])
        print(fields)
        for t in corrected_tree_frame.groupby(fields).sum().itertuples():
            tv = True
            rank, idx = rank_and_index(t)
            if not isinstance(idx,tuple):
                idx=(idx,)
            
            tx, txid = es_lookup(rank, idx)
            
            for i, f in enumerate(fields):
                tv &= corrected_tree_frame[f] == idx[i]           

            if txid == txid and "" in idx:
                hr = higher_ranks(txid)
                for f, v in hr.items():
                    corrected_tree_frame.loc[tv, f] = v
            else:
                corrected_tree_frame.loc[tv, fields[-1]] = tx
                corrected_tree_frame.loc[tv, rank + "_id"] = txid

    return corrected_tree_frame

In [8]:
df = pd.read_csv("higherTaxon.csv", encoding="utf-8").fillna("")

In [9]:
df = df.sort_values("count", ascending=False)
df

,dwc:kingdom,dwc:phylum,dwc:class,dwc:order,dwc:family,count
54565,,,,,,546003
16662,,,,,asteraceae,70856
18116,,,,,orchidaceae,58703
70278,animalia,,,,,46217
49195,,,,,fabaceae,44816
80637,plantae,,,,asteraceae,44810
9745,,,,,poaceae,42260
84125,,,gastropoda,,,39092
14616,,,,,rubiaceae,33861
60875,animalia,arthropoda,insecta,hymenoptera,formicidae,33857
46826,plantae,,,,fabaceae,33653
46825,plantae,,,asterales,compositae,30853
67293,animalia,arthropoda,insecta,coleoptera,staphylinidae,30456
19068,plantae,magnoliophyta,,asterales,asteraceae,28224
82609,plantae,,dicotyledonae,asterales,asteraceae,28055
81141,plantae,,,,poaceae,27667
50605,plantae,,,,orchidaceae,26871
53076,,,,,myrtaceae,26058
51573,,mollusca,,,,22921
26516,,,,,cyperaceae,21545
1980,,,,,rosaceae,21237
9747,,,,,lamiaceae,20979
65306,animalia,arthropoda,insecta,coleoptera,carabidae,20907
61880,,,,,euphorbiaceae,20528
50607,,,,,lichenes,19148
39399,plantae,,,,rubiaceae,18763
78104,plantae,magnoliophyta,,,asteraceae,17931
3904,plantae,,,poales,gramineae,17741
4402,,,,,pteridophyta,17613
58888,,,,,compositae,17536
...,...,...,...,...,...,...
55957,,crustacea,,decapoda,camptandriidae,1
55958,animalia,annelida,,phyllodocida,alciopidae,1
55959,,,bivalvia,arcoidea,arcidae,1
55960,,bryozoa,,cyclostomata,tretocycloeciidae,1
55961,animalia,platyhelminthes,rhabditophora,,,1
55962,,,crinoidea,comatulida,,1
55963,animalia,echinodermata,cyclocystoidea,cyclocystida,cyclocystidae,1
55965,animalia,arthropoda,crustacea,decapoda caridea,oplophoridae,1
55944,,animalia,reptilia,therapsida,traversodontidae,1
55943,,,gastropoda,gastropoda,euconulidae,1
55942,animalia,mollusca,gastropoda,cocculiniformia,cocculinidae,1
55941,animalia,chordata,osteichthyes,gasterosteiformes,fistulariidae,1
55922,animalia,microspora,,,,1
55923,plantae,rhodopyhta,rhodophyceae,gilidiales,gelidiaceae,1
55924,plantae,angiospermae,dicotyledonae,fabales,fabacene,1
55926,,,fungos,,polyporaceae,1
55927,plantae,briophyta,,briophyta,bryophyte,1
55928,plantae,,,,ae,1
55929,plantae,angiospermas,,,agavaceae,1
55930,,arthropoda,,pycnogonida,callipallenidae?,1
55932,plantae,dicotyledon,,,avicenniaceae,1
55933,,,,,caprifoliacaee,1
55934,animalia,chordata,,,camelidae,1
55935,animalia,nematoda,adenophorea,plectida,diplopeltoididae,1
55936,,arthropoda,insecta,raphidioptera,raphidiidae,1
55937,animalia,echinodermata,stylophora,mitrocystitida,mitrocystitidae,1
55938,,,,coleoptera,scaphididae,1
55939,animalia,,osteichthyes,anguilliformes,congridae,1
55940,animalia,chordata,reptilia,protorosauria ?,undet.,1
97818,plantae,angiospermas,,,viscaceae,1

In [10]:
cdf = correct_tree_frame(df)
ndf = df.copy(deep=True)
for c in cdf.columns:
    if c.endswith("_id"):
        ndf[c] = cdf[c]
    elif c == "count":
        pass
    else:
        ndf["new_" + c] = cdf[c]

['dwc:kingdom']
['dwc:kingdom', 'dwc:phylum']
['dwc:kingdom', 'dwc:phylum', 'dwc:class']
['dwc:kingdom', 'dwc:phylum', 'dwc:class', 'dwc:order']
['dwc:kingdom', 'dwc:phylum', 'dwc:class', 'dwc:order', 'dwc:family']

In [12]:
re_agg = ndf.groupby([f for f in ndf.columns if f.startswith("new_") and f != "new_dwc:genus"]).sum()
re_agg.to_csv("tree_taxon.csv", header=True, encoding="utf-8")

In [13]:
ndf = ndf.sort_values([f for f in ndf.columns if f.startswith("new_")], ascending=False)
ndf

,dwc:kingdom,dwc:phylum,dwc:class,dwc:order,dwc:family,count,new_dwc:kingdom,new_dwc:phylum,new_dwc:class,new_dwc:order,new_dwc:family,dwc:kingdom_id,dwc:phylum_id,dwc:class_id,dwc:order_id,dwc:family_id
19046,virus,,,mononegavirales,rhabdoviridae,1,viruses,,,mononegavirales,rhabdoviridae,8,NaN,NaN,842,7758
45229,viruses,,,caudovirales,myoviridae,1,viruses,,,caudovirales,myoviridae,8,NaN,NaN,843,3779
90673,,,,,fungus,18,viruses,,,,fungal,8,NaN,NaN,NaN,4904189
91238,,,,,uncertain fungus family,3,viruses,,,,fungal,8,NaN,NaN,NaN,4904189
69043,,,,,fungae-basidiomycota,1,viruses,,,,fungal,8,NaN,NaN,NaN,4904189
46615,,,,,fungae,1,viruses,,,,fungal,8,NaN,NaN,NaN,4904189
6649,protista,sarcomastigophora,,trichomonadida,monocercomonadidae,1,protozoa,sarcomastigophora,zoomastigophora,trichomonadida,monocercomonadidae,7,56,118,875,2162
83970,protista,sarcomastigophora,,trichomonadida,trichomonadidae,3,protozoa,sarcomastigophora,zoomastigophora,trichomonadida,,7,56,118,875,NaN
16913,protozoa,sarcomastigophora,zoomastigophorea,diplomonadida,hexamitidae,12,protozoa,sarcomastigophora,zoomastigophora,diplomonadida,hexamitidae,7,56,118,757,5858
83770,protista,sarcomastigophora,,diplomonadida,hexamitidae,4,protozoa,sarcomastigophora,zoomastigophora,diplomonadida,hexamitidae,7,56,118,757,5858
2295,protozoa,sarcomastigophora,zoomastigophora,diplomonadida,hexamitidae,3,protozoa,sarcomastigophora,zoomastigophora,diplomonadida,hexamitidae,7,56,118,757,5858
67104,,,,,hexamitidae,1,protozoa,sarcomastigophora,zoomastigophora,diplomonadida,hexamitidae,7,56,118,757,5858
19049,protozoa,sarcomastigophora,zoomastigophorea,parabasalidea,cochlosomidae,1,protozoa,sarcomastigophora,zoomastigophora,,cochlosomidae,7,56,118,NaN,4906588
34029,protista,sarcomastigophora,granuloreticulosa,foraminiferida,hormosinidae,1,protozoa,sarcomastigophora,phytomastigophora,ebriida,hermesinidae,7,56,237,758,3235208
53563,protozoa,foraminifera,,lituolida,hormosinidae,1,protozoa,sarcomastigophora,phytomastigophora,ebriida,hermesinidae,7,56,237,758,3235208
39156,,,ebriediens,,ebriidae,7,protozoa,sarcomastigophora,phytomastigophora,ebriida,ebriidae,7,56,237,758,4905122
74917,,,ebriediens,,ditripodiidae,11,protozoa,sarcomastigophora,phytomastigophora,ebriida,ditripodiidae,7,56,237,758,4905357
27165,,,ebriediens,,ammodochiidae,13,protozoa,sarcomastigophora,phytomastigophora,ebriida,ammodochiidae,7,56,237,758,3235213
5096,protozoa,sarcomastigophora,phytomastigophorea,dinoflagellida,oodinidae,1,protozoa,sarcomastigophora,phytomastigophora,,,7,56,237,NaN,NaN
28751,,see notes,see notes,see notes,stereomyxidae,1,protozoa,sarcomastigophora,,,stereomyxidae,7,56,NaN,NaN,4378578
62462,protista,sarcomastigophora,granuloreticulosa,foraminiferida,nodosariidae,55,protozoa,sarcomastigophora,,,,7,56,NaN,NaN,NaN
50661,protista,sarcomastigophora,granuloreticulosa,foraminiferida,lepidocyclinidae,49,protozoa,sarcomastigophora,,,,7,56,NaN,NaN,NaN
9804,protista,sarcomastigophora,,kinetoplastida,trypanosomatidae,43,protozoa,sarcomastigophora,,,,7,56,NaN,NaN,NaN
41890,protista,sarcomastigophora,granuloreticulosa,foraminiferida,nummulitidae,42,protozoa,sarcomastigophora,,,,7,56,NaN,NaN,NaN
22991,protista,sarcomastigophora,granuloreticulosa,foraminiferida,nonionidae,41,protozoa,sarcomastigophora,,,,7,56,NaN,NaN,NaN
1625,protista,sarcomastigophora,granuloreticulosa,foraminiferida,miliolidae,33,protozoa,sarcomastigophora,,,,7,56,NaN,NaN,NaN
75737,protista,sarcomastigophora,granuloreticulosa,foraminiferida,vaginulinidae,32,protozoa,sarcomastigophora,,,,7,56,NaN,NaN,NaN
75296,protista,sarcomastigophora,granuloreticulosa,foraminiferida,globigerinidae,30,protozoa,sarcomastigophora,,,,7,56,NaN,NaN,NaN
10891,protista,sarcomastigophora,granuloreticulosa,foraminiferida,polymorphinidae,29,protozoa,sarcomastigophora,,,,7,56,NaN,NaN,NaN
69920,protista,sarcomastigophora,,opalinida,opalinidae,29,protozoa,sarcomastigophora,,,,7,56,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53522,,,,,bryophyte,1,,,,,,NaN,NaN,NaN,NaN,NaN
53550,,hydroida,,,,1,,,,,,NaN,NaN,NaN,NaN,NaN
8156,,,,,caesalpinaceae,1,,,,,,NaN,NaN,NaN,NaN,NaN
54295,,,crustacea,,,1,,,,,,NaN,NaN,NaN,NaN,NaN
8197,,,flagellata,dinoflagellata,gonyaulacidae,1,,,,,,NaN,NaN,NaN,NaN,NaN
56624,,,,,ni,1,,,,,,NaN,NaN,NaN,NaN,NaN
7720,,,,,rhodymeniales,1,,,,,,NaN,NaN,NaN,NaN,NaN
7726,,,,,mixed,1,,,,,,NaN,NaN,NaN,NaN,NaN
56755,,,,,dialypetalanthaceae,1,,,,,,NaN,NaN,NaN,NaN,NaN
56735,,,,,steculiaceae,1,,,,,,NaN,NaN,NaN,NaN,NaN
56413,,cooksonia sp.,plantae,plantae,,1,,,,,,NaN,NaN,NaN,NaN,NaN
56426,,,,thysanura,unidentified thysanura,1,,,,,,NaN,NaN,NaN,NaN,NaN
7743,,,,,actinopteraceae,1,,,,,,NaN,NaN,NaN,NaN,NaN
7733,protista,bacillariophyta,,,indet.,1,,,,,,NaN,NaN,NaN,NaN,NaN
55316,,,,,polypremaceae,1,,,,,,NaN,NaN,NaN,NaN,NaN
57110,geologic specimen,lignite coal,,,,1,,,,,,NaN,NaN,NaN,NaN,NaN
57177,,,osteichthyes,,otoliths,1,,,,,,NaN,NaN,NaN,NaN,NaN
57203,,,,,botryocarpeae,1,,,,,,NaN,NaN,NaN,NaN,NaN
57021,,,gymnospermopsida,,,1,,,,,,NaN,NaN,NaN,NaN,NaN
7620,,,,,lophothaliaceae,1,,,,,,NaN,NaN,NaN,NaN,NaN
56896,,,,,cyperus,1,,,,,,NaN,NaN,NaN,NaN,NaN
55506,,,,,magnoliophyta,1,,,,,,NaN,NaN,NaN,NaN,NaN
55373,,,,,plectognathi,1,,,,,,NaN,NaN,NaN,NaN,NaN
55387,,,,,cryptogamic mixture,1,,,,,,NaN,NaN,NaN,NaN,NaN
55360,,,,,monocotylondoneae,1,,,,,,NaN,NaN,NaN,NaN,NaN
55350,chordata,reptilia,,gekkonidae,phelsuma,1,,,,,,NaN,NaN,NaN,NaN,NaN
55441,,,,,trebouxiophyceae,1,,,,,,NaN,NaN,NaN,NaN,NaN
55897,chlorobiota,,,,,1,,,,,,NaN,NaN,NaN,NaN,NaN
55827,,,,,2003-04-04,1,,,,,,NaN,NaN,NaN,NaN,NaN
55845,ichnofossil,ichnofossil (vertebrate),bird track,,,1,,,,,,NaN,NaN,NaN,NaN,NaN

In [14]:
ndf.to_csv("tree_higherTaxon.csv", header=True, encoding="utf-8")

In [15]:
ndf[ndf["new_dwc:family"] == "agyrekocyathidae"]

,dwc:kingdom,dwc:phylum,dwc:class,dwc:order,dwc:family,count,new_dwc:kingdom,new_dwc:phylum,new_dwc:class,new_dwc:order,new_dwc:family,dwc:kingdom_id,dwc:phylum_id,dwc:class_id,dwc:order_id,dwc:family_id
19801,,,archaeocyatha,capsulocyathida,agyrekocyathidae,2,animalia,,,,agyrekocyathidae,1,NaN,NaN,NaN,4814365

In [16]:
correct_tree_frame(df[df["dwc:family"] == "agyrekocyathidae"])

['dwc:kingdom']
['dwc:kingdom', 'dwc:phylum']
['dwc:kingdom', 'dwc:phylum', 'dwc:class']
['dwc:kingdom', 'dwc:phylum', 'dwc:class', 'dwc:order']
['dwc:kingdom', 'dwc:phylum', 'dwc:class', 'dwc:order', 'dwc:family']

,dwc:kingdom,dwc:phylum,dwc:class,dwc:order,dwc:family,count,dwc:kingdom_id,dwc:phylum_id,dwc:class_id,dwc:order_id,dwc:family_id
19801,animalia,,,,agyrekocyathidae,2,1,NaN,NaN,NaN,4814365

In [17]:
for f in ndf.columns:
    if "dwc:" in f and not f.endswith("_id"):
        print(f, len(ndf[f].unique()), ndf[ndf[f] == ""].shape[0]-1, ndf[ndf[f] == ""].sum()["count"])

(u'dwc:kingdom', 193, 33715, 2539369)
(u'dwc:phylum', 1310, 33156, 3771171)
(u'dwc:class', 1422, 43501, 4227414)
(u'dwc:order', 4492, 30823, 3609477)
(u'dwc:family', 24145, 4308, 932242)
(u'new_dwc:kingdom', 10, 1664, 737336)
(u'new_dwc:phylum', 84, 5298, 965205)
(u'new_dwc:class', 238, 10258, 1134604)
(u'new_dwc:order', 1108, 21719, 1416718)
(u'new_dwc:family', 12545, 20775, 1526829)

In [18]:
re_agg.count()

count    13458
dtype: int64